In [3]:
import pandas as pd

In [4]:
# The path to our CSV file
file = "Public_School_Characteristics_2020-21_kw.csv"

# Read our Crowdfunding data into pandas
df = pd.read_csv(file)
df.head(10)

C:\Users\katel\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STATE_ID,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,...,TOTFENROL,STATUS,UG,AE,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,SCHOOL_LEVEL,AS,CHARTER_TEXT,MAGNET_TEXT
0,-86.206200,34.260200,1,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville Middle School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Middle,4.0,No,No
1,-86.204900,34.262200,2,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville High School,...,NaN,1,NaN,NaN,Regular school,Currently operational,High,6.0,No,No
2,-86.220100,34.273300,3,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville Intermediate School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Middle,7.0,No,No
3,-86.221806,34.252700,4,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville Elementary School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Elementary,4.0,No,No
4,-86.193300,34.289800,5,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,...,NaN,1,NaN,NaN,Regular school,Currently operational,Elementary,2.0,No,No
5,-86.221800,34.253300,6,1.000050e+10,2020-2021,Alabama,100005,AL-101,Albertville City,Albertville Primary School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Elementary,4.0,No,No
6,-86.254100,34.533700,7,1.000060e+10,2020-2021,Alabama,100006,AL-048,Marshall County,Kate Duncan Smith DAR Middle,...,NaN,1,NaN,NaN,Regular school,Currently operational,Middle,3.0,No,No
7,-86.142000,34.362500,8,1.000060e+10,2020-2021,Alabama,100006,AL-048,Marshall County,Asbury High School,...,NaN,1,NaN,NaN,Regular school,Currently operational,High,2.0,No,No
8,-86.270400,34.406900,9,1.000060e+10,2020-2021,Alabama,100006,AL-048,Marshall County,Claysville School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Prekindergarten,0.0,No,No
9,-86.321259,34.176234,10,1.000060e+10,2020-2021,Alabama,100006,AL-048,Marshall County,Douglas Elementary School,...,NaN,1,NaN,NaN,Regular school,Currently operational,Elementary,1.0,No,No

In [5]:
# Get a list of all of our columns for easy reference
df.columns

Index(['X', 'Y', 'OBJECTID', 'NCESSCH', 'SURVYEAR', 'STATE_ID', 'LEAID',
       'ST_LEAID', 'LEA_NAME', 'SCH_NAME', 'LSTREET1', 'LSTREET2', 'LCITY',
       'LSTATE', 'LZIP', 'LZIP4', 'PHONE', 'GSLO', 'GSHI', 'VIRTUAL', 'TOTFRL',
       'FRELCH', 'REDLCH', 'PK', 'KG', 'G01', 'G02', 'G03', 'G04', 'G05',
       'G06', 'G07', 'G08', 'G09', 'G10', 'G11', 'G12', 'G13', 'TOTAL',
       'MEMBER', 'AM', 'HI', 'BL', 'WH', 'HP', 'TR', 'FTE', 'LATCOD', 'LONCOD',
       'ULOCALE', 'NMCNTY', 'STUTERATIO', 'TITLEI', 'STITLEI', 'AMALM',
       'AMALF', 'ASALM', 'ASALF', 'HIALM', 'HIALF', 'BLALM', 'BLALF', 'WHALM',
       'WHALF', 'HPALM', 'HPALF', 'TRALM', 'TRALF', 'TOTMENROL', 'TOTFENROL',
       'STATUS', 'UG', 'AE', 'SCHOOL_TYPE_TEXT', 'SY_STATUS_TEXT',
       'SCHOOL_LEVEL', 'AS', 'CHARTER_TEXT', 'MAGNET_TEXT'],
      dtype='object')

In [6]:
reduced_ps_df = df.loc[:, ["STATE_ID", "SCH_NAME", "LSTATE",
                            "LZIP", "VIRTUAL", "TOTFRL", "TOTAL", "PK", "KG",  
                            "G01", "G02", "G03", "G04", "G05",
                          "G06", "G07", "G08", "G09", "G10", 
                          "G10", "G11", "G12", "G13", "FTE", 
                           "CHARTER_TEXT", "MAGNET_TEXT", 
                           "LATCOD", "LONCOD"]]

reduced_ps_df

,STATE_ID,SCH_NAME,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,PK,KG,G01,...,G10,G10,G11,G12,G13,FTE,CHARTER_TEXT,MAGNET_TEXT,LATCOD,LONCOD
0,Alabama,Albertville Middle School,AL,35950,Not Virtual,332.0,908.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42.0,No,No,34.260200,-86.206200
1,Alabama,Albertville High School,AL,35950,Not Virtual,456.0,1606.0,NaN,NaN,NaN,...,427.0,427.0,384.0,374.0,NaN,82.0,No,No,34.262200,-86.204900
2,Alabama,Albertville Intermediate School,AL,35950,Not Virtual,330.0,891.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,41.0,No,No,34.273300,-86.220100
3,Alabama,Albertville Elementary School,AL,35950,Not Virtual,397.0,908.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,49.0,No,No,34.252700,-86.221806
4,Alabama,Albertville Kindergarten and PreK,AL,35951,Not Virtual,181.0,556.0,113.0,443.0,NaN,...,NaN,NaN,NaN,NaN,NaN,30.0,No,No,34.289800,-86.193300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100717,U.S. Virgin Islands,LOCKHART ELEMENTARY SCHOOL,VI,802,Full Virtual,325.0,328.0,NaN,71.0,75.0,...,NaN,NaN,NaN,NaN,NaN,26.0,N,No,18.341950,-64.917602
100718,U.S. Virgin Islands,ULLA F MULLER ELEMENTARY SCHOOL,VI,802,Full Virtual,474.0,477.0,NaN,50.0,59.0,...,NaN,NaN,NaN,NaN,NaN,25.0,N,No,18.338742,-64.952483
100719,U.S. Virgin Islands,YVONNE BOWSKY ELEMENTARY SCHOOL,VI,802,Full Virtual,394.0,397.0,17.0,66.0,66.0,...,NaN,NaN,NaN,NaN,NaN,29.0,N,No,18.354782,-64.899024
100720,U.S. Virgin Islands,CANCRYN JUNIOR HIGH SCHOOL,VI,804,Full Virtual,760.0,763.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,62.0,N,No,18.336658,-64.945940
100721,U.S. Virgin Islands,BERTHA BOSCHULTE JUNIOR HIGH,VI,802,Full Virtual,574.0,577.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47.0,N,No,18.318230,-64.890311

In [7]:
# Create a new column that finds the average amount pledged to a project
reduced_ps_df.fillna(0, inplace=True)
reduced_ps_df.head()

,STATE_ID,SCH_NAME,LSTATE,LZIP,VIRTUAL,TOTFRL,TOTAL,PK,KG,G01,...,G10,G10,G11,G12,G13,FTE,CHARTER_TEXT,MAGNET_TEXT,LATCOD,LONCOD
0,Alabama,Albertville Middle School,AL,35950,Not Virtual,332.0,908.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,42.0,No,No,34.2602,-86.206200
1,Alabama,Albertville High School,AL,35950,Not Virtual,456.0,1606.0,0.0,0.0,0.0,...,427.0,427.0,384.0,374.0,0.0,82.0,No,No,34.2622,-86.204900
2,Alabama,Albertville Intermediate School,AL,35950,Not Virtual,330.0,891.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,41.0,No,No,34.2733,-86.220100
3,Alabama,Albertville Elementary School,AL,35950,Not Virtual,397.0,908.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,49.0,No,No,34.2527,-86.221806
4,Alabama,Albertville Kindergarten and PreK,AL,35951,Not Virtual,181.0,556.0,113.0,443.0,0.0,...,0.0,0.0,0.0,0.0,0.0,30.0,No,No,34.2898,-86.193300

In [8]:
reduced_ps_df.dtypes

STATE_ID         object
SCH_NAME         object
LSTATE           object
LZIP              int64
VIRTUAL          object
TOTFRL          float64
TOTAL           float64
PK              float64
KG              float64
G01             float64
G02             float64
G03             float64
G04             float64
G05             float64
G06             float64
G07             float64
G08             float64
G09             float64
G10             float64
G10             float64
G11             float64
G12             float64
G13             float64
FTE             float64
CHARTER_TEXT     object
MAGNET_TEXT      object
LATCOD          float64
LONCOD          float64
dtype: object

In [9]:
reduced_ps_df["sum_elementary"]= reduced_ps_df[["PK","KG",'G01', 'G02', 'G03', 'G04', 'G05']].sum(axis=1)

In [10]:
reduced_ps_df["sum_middle"]= reduced_ps_df[["G06","G07",'G08']].sum(axis=1)

In [11]:
reduced_ps_df["sum_high"]= reduced_ps_df[["G09","G10",'G11', 'G12', 'G13']].sum(axis=1)

In [12]:
reduced_ps_df.dtypes

STATE_ID           object
SCH_NAME           object
LSTATE             object
LZIP                int64
VIRTUAL            object
TOTFRL            float64
TOTAL             float64
PK                float64
KG                float64
G01               float64
G02               float64
G03               float64
G04               float64
G05               float64
G06               float64
G07               float64
G08               float64
G09               float64
G10               float64
G10               float64
G11               float64
G12               float64
G13               float64
FTE               float64
CHARTER_TEXT       object
MAGNET_TEXT        object
LATCOD            float64
LONCOD            float64
sum_elementary    float64
sum_middle        float64
sum_high          float64
dtype: object

In [13]:
levels_ps_df = reduced_ps_df.loc[:, ["STATE_ID", "SCH_NAME", "LSTATE",
                            "LZIP", "VIRTUAL", "sum_elementary", "sum_middle", "sum_high",
                          "TOTFRL", "TOTAL", "FTE", 
                           "CHARTER_TEXT", "MAGNET_TEXT", 
                           "LATCOD", "LONCOD"]]
levels_ps_df.head()

,STATE_ID,SCH_NAME,LSTATE,LZIP,VIRTUAL,sum_elementary,sum_middle,sum_high,TOTFRL,TOTAL,FTE,CHARTER_TEXT,MAGNET_TEXT,LATCOD,LONCOD
0,Alabama,Albertville Middle School,AL,35950,Not Virtual,0.0,908.0,0.0,332.0,908.0,42.0,No,No,34.2602,-86.206200
1,Alabama,Albertville High School,AL,35950,Not Virtual,0.0,0.0,2033.0,456.0,1606.0,82.0,No,No,34.2622,-86.204900
2,Alabama,Albertville Intermediate School,AL,35950,Not Virtual,439.0,452.0,0.0,330.0,891.0,41.0,No,No,34.2733,-86.220100
3,Alabama,Albertville Elementary School,AL,35950,Not Virtual,908.0,0.0,0.0,397.0,908.0,49.0,No,No,34.2527,-86.221806
4,Alabama,Albertville Kindergarten and PreK,AL,35951,Not Virtual,556.0,0.0,0.0,181.0,556.0,30.0,No,No,34.2898,-86.193300

In [14]:
rename_ps_df = levels_ps_df.rename(columns={"STATE_ID": "Location_ID", 
                             "SCH_NAME": "School_Name", 
                             "LSTATE": "Location_Abbreviation",
                             "LZIP": "Location_Zip",
                             "VIRTUAL": "Virtual", 
                             "sum_elementary": "Elementary(PK-G5)",
                             "sum_middle": "Middle(G6-G8)", 
                             "sum_high": "High(G9-G13)",
                              "TOTFRL": "Total_Free/Reduced_Lunch", 
                             "TOTAL": "Total_Students", 
                             "FTE": "Total_Teachers", 
                           "CHARTER_TEXT": "Charter", 
                             "MAGNET_TEXT": "Magnet", 
                           "LATCOD": "Latitude",
                             "LONCOD": "Longitude"})
rename_ps_df.head()

,Location_ID,School_Name,Location_Abbreviation,Location_Zip,Virtual,Elementary(PK-G5),Middle(G6-G8),High(G9-G13),Total_Free/Reduced_Lunch,Total_Students,Total_Teachers,Charter,Magnet,Latitude,Longitude
0,Alabama,Albertville Middle School,AL,35950,Not Virtual,0.0,908.0,0.0,332.0,908.0,42.0,No,No,34.2602,-86.206200
1,Alabama,Albertville High School,AL,35950,Not Virtual,0.0,0.0,2033.0,456.0,1606.0,82.0,No,No,34.2622,-86.204900
2,Alabama,Albertville Intermediate School,AL,35950,Not Virtual,439.0,452.0,0.0,330.0,891.0,41.0,No,No,34.2733,-86.220100
3,Alabama,Albertville Elementary School,AL,35950,Not Virtual,908.0,0.0,0.0,397.0,908.0,49.0,No,No,34.2527,-86.221806
4,Alabama,Albertville Kindergarten and PreK,AL,35951,Not Virtual,556.0,0.0,0.0,181.0,556.0,30.0,No,No,34.2898,-86.193300

In [15]:
rename_ps_df.to_csv("Public_School_Characteristics_2020-21_cleaned.csv")